name: Build the LaTeX template

on:
  push:
    branches:
      - main
  pull_request:

env:
  EMAIL_GITHUB: joao.lourenco@fct.unl.pt
  USERNAME_GITHUB: joaomlourenco

permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.actor != 'my_bot_account'
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
          ref: main
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Compile the LaTeX template
        uses: xu-cheng/texlive-action/full@v1
        with:
          run: python .Build/build.py nova/fct --build-dir=AUXDIR --progress=2
